$mengkadji : #E50014;
$defaultColor : rgb(221, 221, 221);

@font-face {
	font-family: 'fontscorecomttwcenmt';
	src: url('../../font/fontscorecomttwcenmt.eot');
	src: local('fontscorecomttwcenmt'), url('../../font/fontscorecomttwcenmt.woff') format('woff'), url('../../font/fontscorecomttwcenmt.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_13141">Text with this font applied</p> */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'fontscorecomttwcenmt' !important;
    overflow-x: hidden;
}

body {
    &::-webkit-scrollbar-track {
        background: #fff;        /* color of the tracking area */
        }

        &::-webkit-scrollbar {
            width: 9px;               /* width of the entire scrollbar */
            }
          
   
          
            &::-webkit-scrollbar-thumb {
            background-color: rgba(177, 177, 177, 0.952);    /* color of the scroll thumb */
            border-radius: 20px;       /* roundness of the scroll thumb */
            /* creates padding around scroll thumb */
            box-sizing: border-box;
            }
}

// Khusus loading
.loadSaber {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: #fff;
    z-index: 10000;

    .loadSabers {
        position: relative;
        display: flex;
        width: 240px;
        height: 210px;
        margin: 200px auto;
        text-align: center;
        
        .sabers {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            flex-wrap: wrap;
            
            .saber {
               z-index: -1;
               width: 80px;
               height: 70px;
               
               &:nth-child(odd){
                    background-color: $mengkadji;
                    animation: 6.5s odd linear infinite;
               }

               &:nth-child(even){
                    background-color: rgb(241, 213, 213);
                    animation: 6.5s even linear infinite;
               }
            }

            @keyframes even {
                0% {
                    background-color: rgb(241, 213, 213);           
                }

                7.5% {
                    background-color: $mengkadji; 
                }

                15% {
                    background-color: rgb(241, 213, 213)
                }

                22.5% {
                    background-color: $mengkadji;
                }

                30% {
                    background-color: rgb(241, 213, 213)
                }

                37.5% {
                    background-color: $mengkadji;
                }

                45% {
                    background-color: rgb(241, 213, 213) 
                }

                52.5% {
                    background-color: $mengkadji;
                }

                60% {
                    opacity: 1;
                    background-color: rgb(241, 213, 213)  
                }

                70% {
                    opacity: 0;
                    background-color: $mengkadji;
                }

                75% {
                    opacity: 1;
                }

                100% {
                    background-color: $mengkadji;
                }
            }

            @keyframes odd {
                0% {
                    background-color: $mengkadji; 
                }

                7.5% {
                    background-color: rgb(241, 213, 213);
                }

                15% {
                    background-color: $mengkadji; 
                }

                22.5% {
                    background-color: rgb(241, 213, 213);
                }

                30% {
                    background-color: $mengkadji; 
                }

                37.5% {
                    background-color: rgb(241, 213, 213);
                }

                45% {
                    background-color: $mengkadji; 
                }

                52.5% {
                    background-color: rgb(241, 213, 213);
                }

                60% {
                    opacity: 1;
                    background-color: $mengkadji; 
                }

                70% {
                    opacity: 0;
                }

                75% {
                    opacity: 1;
                }

                100% {
                    background-color: $mengkadji;
                }
            }
        }

        h2 {
            margin: auto;
            letter-spacing: 2px;
            font-size: 40px;
            color: #fff;
        }
    }
}
// End Loading

// Khusus Footer 
.m-footer {
    width: 100%;
    background-color: #f8e5e673;
    
    .m-footers {
        width: calc(80% - 120px);
        margin: auto;
        padding: 60px;
    }

    .m-footer-layer-1 {
        margin: 40px 0;
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr 1fr;
        grid-gap: 5%;

        h2 {
            font-size: 20px;
            margin-bottom: 10px;
            color: $mengkadji;
        }

        a,p {
            display: block;
            line-height: 40px;
            text-decoration: none;
            font-weight: bold;
            color: rgb(63, 63, 63);
        }

        a {
            &:hover {
                text-decoration: underline;
            }
        }
        
        .m-footer-sitemap {
            .must-down {
                margin-bottom: 10px;
            }
        }

        .m-footer-about {
            p {
                font-weight: bold;
                line-height: 40px;
            }
        }
    }

    .m-footer-layer-2 {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 15%;
        margin: auto;
        box-sizing: border-box;

        .imainsta {
            color: #fb3958;
        }

        .imalinked {
            color: #2867B2;
        }

        a {
            margin: auto;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            box-shadow: 3px 3px 20px rgb(187, 187, 187);
            font-size: 25px;
            display: inline-block;
            text-align: center;
            line-height: 50px;
            box-sizing: border-box;
        }
    }

    .m-footer-layer-3 {
        text-align: center;
        margin-top: 50px;

        small {
            font-size: 18px;
            font-weight: bold;
            color: rgb(90, 90, 90);
        }
    }
}
// End Footer

// Responsive Breakpoint

// Large Device
@media only screen and (min-width: 1800px){ 
    .m-footer {
        max-width: 1800px;
        margin: auto;
    }

    // Khusus loading
    .loadSaber {
        .loadSabers {
            width: 270px; //240
            height: 240px; //210
            margin: 200px auto;
            text-align: center;
            
            .sabers {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                flex-wrap: wrap;
                
                .saber {
                    z-index: -1;
                    width: 90px;
                    height: 80px;
                }
              
            }

            h2 {
                margin: auto;
                letter-spacing: 2px;
                font-size: 42px;
                color: #fff;
            }
        }
    }
    // End Loading
}

// Medium Device
@media only screen and (max-width: 1200px){
    // Khusus loading
    .loadSaber {
        .loadSabers {
            width: 210px; //240
            height: 180px; //210
            margin: 200px auto;
            text-align: center;
            
            .sabers {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                flex-wrap: wrap;
                
                .saber {
                    z-index: -1;
                    width: 70px;
                    height: 60px;
                }
              
            }

            h2 {
                margin: auto;
                letter-spacing: 2px;
                font-size: 35px;
                color: #fff;
            }
        }
    }
    // End Loading

    // Khusus Footer 
    .m-footer {

        .m-footers {
            width: calc(100% - 120px);
            margin: auto;
            padding: 60px;
        }

        .m-footer-layer-1 {
            margin: 40px 0;
            display: grid;
            grid-template-columns: 1.5fr 1fr 1fr 1.3fr;
            grid-gap: 5%;

            h2 {
                font-size: 18px;
                margin-bottom: 10px;
            }

            a,p {
                line-height: 40px;
            }

            a {
                &:hover {
                    text-decoration: underline;
                }
            }
            
            .m-footer-sitemap {
                .must-down {
                    margin-bottom: 10px;
                }
            }

            .m-footer-about {
                p {
                    line-height: 40px;
                }
            }
        }

        .m-footer-layer-2 {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 15%;
            margin: auto;

            a {
                margin: auto;
                width: 50px;
                height: 50px;
                font-size: 25px;
                display: inline-block;
                text-align: center;
                line-height: 50px;
            }
        }

        .m-footer-layer-3 {
            text-align: center;
            margin-top: 50px;

            small {
                font-size: 18px;
            }
        }
    }
    // End Footer
}

// Tablet
@media only screen and (max-width: 900px){
    // Khusus loading
    .loadSaber {
        .loadSabers {
            width: 180px; //240
            height: 150px; //210
            margin: 200px auto;
            text-align: center;
            
            .sabers {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                flex-wrap: wrap;
                
                .saber {
                    z-index: -1;
                    width: 60px;
                    height: 50px;
                }
            
            }

            h2 {
                margin: auto;
                letter-spacing: 2px;
                font-size: 28px;
                color: #fff;
            }
        }
    }
    // End Loading

    // Khusus Footer 
    .m-footer {
        .m-footers {
            width: calc(100% - 120px);
            margin: auto;
            padding: 60px;
        }

        .m-footer-layer-1 {
            margin: 80px 0;
            display: grid;
            grid-template-columns: 1.5fr 1.5fr;
            grid-gap: 5%;

            h2 {
                font-size: 18px;
                margin-bottom: 10px;
            }

            a,p {
                line-height: 40px;
            }

            a {
                &:hover {
                    text-decoration: none;
                }
            }
            
            .m-footer-sitemap {
                .must-down {
                    margin-bottom: 10px;
                }
            }

            .m-footer-about {
                p {
                    line-height: 40px;
                }
            }
        }

        .m-footer-layer-2 {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 30%;
            margin: auto;

            a {
                margin: auto;
                width: 50px;
                height: 50px;
                font-size: 25px;
                display: inline-block;
                text-align: center;
                line-height: 50px;
            }
        }

        .m-footer-layer-3 {
            text-align: center;
            margin-top: 50px;

            small {
                font-size: 18px;
            }
        }
    }
    // End Footer
}

// Mobile ( Primary )
@media only screen and (max-width: 600px) 
{
    // Khusus loading
    .loadSaber {
        .loadSabers {
            width: 150px; //240
            height: 120px; //210
            margin: 200px auto;
            text-align: center;
            
            .sabers {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                flex-wrap: wrap;
                
                .saber {
                    z-index: -1;
                    width: 50px;
                    height: 40px;
                }
            
            }

            h2 {
                margin: auto;
                letter-spacing: 2px;
                font-size: 24px;
                color: #fff;
            }
        }
    }
    // End Loading

    // Khusus Footer 
    .m-footer {

        .m-footer-comp {
            margin-bottom: 30px;
        }

        .m-footer-layer-1 {
            margin: 80px 0;
            display: block;
            grid-template-columns: 1.5fr;
            grid-gap: 5%;

            h2 {
                font-size: 16px;
                margin-bottom: 10px;
            }

            a,p {
                line-height: 40px;
            }
            
            .m-footer-sitemap {
                .must-down {
                    margin-bottom: 10px;
                }
            }

            .m-footer-about {
                p {
                    line-height: 40px;
                }
            }
        }

        .m-footer-layer-2 {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width : 60%;
            margin: auto;

            a {
                margin: auto;
                width: 50px;
                height: 50px;
                font-size: 25px;
                display: inline-block;
                text-align: center;
                line-height: 50px;
            }
        }

        .m-footer-layer-3 {
            text-align: center;
            margin-top: 50px;

            small {
                font-size: 18px;
            }
        }
    }
    // End Footer
}