$mengkadji : #E50014;
$defaultColor : rgb(221, 221, 221);

@font-face {
	font-family: 'fontscorecomttwcenmt';
	src: url('../../font/fontscorecomttwcenmt.eot');
	src: local('fontscorecomttwcenmt'), url('../../font/fontscorecomttwcenmt.woff') format('woff'), url('../../font/fontscorecomttwcenmt.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_13141">Text with this font applied</p> */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'fontscorecomttwcenmt' !important;
    overflow-x: hidden;


}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

body {
    &::-webkit-scrollbar-track {
        background: #fff;        /* color of the tracking area */
        }

        &::-webkit-scrollbar {
            width: 9px;               /* width of the entire scrollbar */
        }
          
   
          
        &::-webkit-scrollbar-thumb {
        background-color: rgba(177, 177, 177, 0.952);    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
        /* creates padding around scroll thumb */
        box-sizing: border-box;
        }
}


// Khusus animasi saat pertama kali masuk halaman landing page
.ani-start-page {
    animation: 2s navbar-first linear forwards;
}

#m-starter-proudly {
    animation: 4s m-starter-proudly linear forwards;
}

#m-starter-discover {
    animation: 4s m-starter-discover linear forwards;
}

#m-starter-try {
    animation: 4s m-starter-try linear forwards;
}

#m-starter-link {
    animation: 5s m-starter-link linear forwards;
}

@keyframes m-starter-link {
    0% {
        opacity: 0;
        
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes m-starter-proudly {
    0% {
        opacity: 0;
        
    }

    70% {
        opacity: 0;
        transform: translate(0,-20px); 
    }

    80% {
        transform: translate(0,10px);
    }

    100% {
        opacity: 1;
        transform: translate(0,0);
    }
}

@keyframes m-starter-discover {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
        transform: translate(0,20px); 
    }

    80% {
        transform: translate(0,-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0,0);
    }
}

@keyframes m-starter-try {
    0% {
        opacity: 0;
        
    }

    80% {
        opacity: 0;
        transform: scale(.7); 
    }

    100% {
        opacity: 1;
        transform: scale(1); 
    }
}

@keyframes m-starter {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes navbar-first {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


// Khusus corner icon
.corner-icon {
    display: none;
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #fff;
    position: fixed;
    bottom: 8%;
    right: 3%;
    font-size: 35px;
    z-index: 1000;
    color: $mengkadji;
    text-align: center;
    line-height: 80px;
    box-shadow: 2px 2px 20px rgba(31, 31, 31, 0.514);

    &:hover {
        &::before {
            content: '';
            position: absolute;
            transform: scale(1);
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            border: 2px solid $mengkadji;
            border-radius: 50%;
            box-sizing: border-box;
            animation: 1s signal-corner linear infinite;
        }
    }

   
}

@keyframes signal-corner {
    0% {
        border-color: $mengkadji;
        transform: scale(1);
    }

    100% {
        border-color: #e5001300;
        transform: scale(1.6);
    }
}

// Khusus loading
.loadSaber {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: #fff;
    z-index: 10000;

    .loadSabers {
        position: relative;
        display: flex;
        width: 240px;
        height: 210px;
        margin: 200px auto;
        text-align: center;
        
        .sabers {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            flex-wrap: wrap;
            
            .saber {
               z-index: -1;
               width: 80px;
               height: 70px;
               
               &:nth-child(odd){
                    background-color: $mengkadji;
                    animation: 5.5s odd linear infinite;
               }

                &:nth-child(1){
                    border-top-left-radius: 10px;
                }

                &:nth-child(3){
                    border-top-right-radius: 10px;
                }

                &:nth-child(7){
                    border-bottom-left-radius: 10px;
                }

                &:nth-child(9){
                    border-bottom-right-radius: 10px;
                }

               &:nth-child(even){
                    background-color: #fff;
                    animation: 5.5s even linear infinite;
               }
            }

            @keyframes even {
                10% {
                    background-color: #fff;           
                }

                20% {
                    background-color: $mengkadji; 
                }

                30% {
                    background-color: #fff
                }

                40% {
                    background-color: $mengkadji;
                }

                50% {
                    background-color: #fff
                }

                60% {
                    opacity: 1;
                    background-color: $mengkadji;
                }

                65% {
                    opacity: 0;
                    background-color: $mengkadji;
                }

                70% {
                    opacity: 1;
                }

                100% {
                    background-color: $mengkadji;
                }
            }

            @keyframes odd {
                10% {
                    background-color: $mengkadji; 
                }

                20% {
                    background-color: #fff;
                }

                30% {
                    background-color: $mengkadji; 
                }

                40% {
                    background-color: #fff;
                }

                50% {
                    background-color: $mengkadji; 
                }

                60% {
                    background-color: #fff;
                }

                65% {
                    opacity: 1;
                    background-color: $mengkadji; 
                }

                70% {
                    opacity: 0;
                }

                100% {
                    background-color: $mengkadji;
                }
            }
        }

        h2 {
            margin: auto;
            letter-spacing: 2px;
            font-size: 40px;
            color: #fff;
            animation: 5.5s anitext linear infinite;
        }

        @keyframes anitext{
            0% {
                opacity: 0;
            }

            70% {
                opacity: 0;
            }

            75% {
                opacity: 1;
            }

            100% {
                opacity: 1;
            }
        }
    }
}
// End Loading

// Khusus Footer 
.m-footer {
    width: 100%;
    background-color: #f8e5e673;
    
    .m-footers {
        width: calc(80% - 120px);
        margin: auto;
        padding: 60px;
    }

    .m-footer-layer-1 {
        margin: 40px 0;
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr 1fr;
        grid-gap: 5%;

        h2 {
            font-size: 20px;
            margin-bottom: 10px;
            color: $mengkadji;
        }

        a,p {
            display: block;
            line-height: 40px;
            text-decoration: none;
            // font-weight: bold;
            color: rgb(99, 99, 99);
        }

        a {
            &:hover {
                text-decoration: underline;
            }
        }
        
        .m-footer-sitemap {
            .must-down {
                margin-bottom: 10px;
            }
        }

        .m-footer-about {
            p {
                font-weight: bold;
                line-height: 40px;
            }
        }
    }

    .m-footer-layer-2 {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 15%;
        margin: auto;
        box-sizing: border-box;

        .imainsta {
            color: #fb3958;
        }

        .imalinked {
            color: #2867B2;
        }

        a {
            background-color: #fff;
            margin: auto;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            box-shadow: 3px 3px 20px rgb(187, 187, 187);
            font-size: 25px;
            display: inline-block;
            text-align: center;
            line-height: 50px;
            box-sizing: border-box;
        }
    }

    .m-footer-layer-3 {
        text-align: center;
        margin-top: 50px;

        small {
            font-size: 18px;
            color: rgb(148, 148, 148);
        }
    }
}
// End Footer

// Responsive Breakpoint

// Large Device
@media only screen and (min-width: 1800px){ 
    .m-footer {
        max-width: 1800px;
        margin: auto;
    }

    // Khusus loading
    .loadSaber {
        .loadSabers {
            width: 270px; //240
            height: 240px; //210
            margin: 200px auto;
            text-align: center;
            
            .sabers {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                flex-wrap: wrap;
                
                .saber {
                    z-index: -1;
                    width: 90px;
                    height: 80px;
                }
              
            }

            h2 {
                margin: auto;
                letter-spacing: 2px;
                font-size: 42px;
                color: #fff;
            }
        }
    }
    // End Loading
}

// Medium Device
@media only screen and (max-width: 1200px){
    // Khusus loading
    .loadSaber {
        .loadSabers {
            width: 210px; //240
            height: 180px; //210
            margin: 200px auto;
            text-align: center;
            
            .sabers {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                flex-wrap: wrap;
                
                .saber {
                    z-index: -1;
                    width: 70px;
                    height: 60px;
                }
              
            }

            h2 {
                margin: auto;
                letter-spacing: 2px;
                font-size: 35px;
                color: #fff;
            }
        }
    }
    // End Loading

    // Khusus Footer 
    .m-footer {

        .m-footers {
            width: calc(100% - 120px);
            margin: auto;
            padding: 60px;
        }

        .m-footer-layer-1 {
            margin: 40px 0;
            display: grid;
            grid-template-columns: 1.5fr 1fr 1fr 1.3fr;
            grid-gap: 5%;

            h2 {
                font-size: 18px;
                margin-bottom: 10px;
            }

            a,p {
                line-height: 40px;
            }

            a {
                &:hover {
                    text-decoration: underline;
                }
            }
            
            .m-footer-sitemap {
                .must-down {
                    margin-bottom: 10px;
                }
            }

            .m-footer-about {
                p {
                    line-height: 40px;
                }
            }
        }

        .m-footer-layer-2 {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 15%;
            margin: auto;

            a {
                margin: auto;
                width: 50px;
                height: 50px;
                font-size: 25px;
                display: inline-block;
                text-align: center;
                line-height: 50px;
            }
        }

        .m-footer-layer-3 {
            text-align: center;
            margin-top: 50px;

            small {
                font-size: 18px;
            }
        }
    }
    // End Footer
}

// Tablet
@media only screen and (max-width: 900px){
    // Khusus corner icon
    .corner-icon {
        display: none;
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #fff;
        position: fixed;
        bottom: 8%;
        right: 3%;
        font-size: 32px;
        z-index: 1000;
        color: $mengkadji;
        text-align: center;
        line-height: 65px;
        box-shadow: 2px 2px 20px rgba(31, 31, 31, 0.514);

        &::before {
            content: '';
            position: absolute;
            transform: scale(1);
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            border: 2px solid $mengkadji;
            border-radius: 50%;
            box-sizing: border-box;
            animation: 1s signal-corner linear infinite;
        }
    }

    // Khusus loading
    .loadSaber {
        .loadSabers {
            width: 180px; //240
            height: 150px; //210
            margin: 200px auto;
            text-align: center;
            
            .sabers {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                flex-wrap: wrap;
                
                .saber {
                    z-index: -1;
                    width: 60px;
                    height: 50px;
                }
            
            }

            h2 {
                margin: auto;
                letter-spacing: 2px;
                font-size: 28px;
                color: #fff;
            }
        }
    }
    // End Loading

    // Khusus Footer 
    .m-footer {
        .m-footers {
            width: calc(100% - 120px);
            margin: auto;
            padding: 60px;
        }

        .m-footer-layer-1 {
            margin: 80px 0;
            display: grid;
            grid-template-columns: 1.5fr 1.5fr;
            grid-gap: 5%;

            h2 {
                font-size: 18px;
                margin-bottom: 10px;
            }

            a,p {
                line-height: 40px;
            }

            a {
                &:hover {
                    text-decoration: none;
                }
            }
            
            .m-footer-sitemap {
                .must-down {
                    margin-bottom: 10px;
                }
            }

            .m-footer-about {
                p {
                    line-height: 40px;
                }
            }
        }

        .m-footer-layer-2 {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 30%;
            margin: auto;

            a {
                margin: auto;
                width: 50px;
                height: 50px;
                font-size: 25px;
                display: inline-block;
                text-align: center;
                line-height: 50px;
            }
        }

        .m-footer-layer-3 {
            text-align: center;
            margin-top: 50px;

            small {
                font-size: 18px;
            }
        }
    }
    // End Footer
}

// Mobile ( Primary )
@media only screen and (max-width: 600px) 
{
    // Khusus loading
    .loadSaber {
        .loadSabers {
            width: 150px; //240
            height: 120px; //210
            margin: 200px auto;
            text-align: center;
            
            .sabers {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                flex-wrap: wrap;
                
                .saber {
                    z-index: -1;
                    width: 50px;
                    height: 40px;
                }
            
            }

            h2 {
                margin: auto;
                letter-spacing: 2px;
                font-size: 24px;
                color: #fff;
            }
        }
    }
    // End Loading

    // Khusus Footer 
    .m-footer {

        .m-footer-comp {
            margin-bottom: 30px;
        }

        .m-footer-layer-1 {
            margin: 0 0 80px 0;
            display: block;
            grid-template-columns: 1.5fr;
            grid-gap: 5%;

            h2 {
                font-size: 16px;
                margin-bottom: 10px;
            }

            a,p {
                line-height: 40px;
            }
            
            .m-footer-sitemap {
                .must-down {
                    margin-bottom: 10px;
                }
            }

            .m-footer-about {
                p {
                    line-height: 40px;
                }
            }
        }

        .m-footer-layer-2 {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width : 60%;
            margin: auto;

            a {
                margin: auto;
                width: 50px;
                height: 50px;
                font-size: 25px;
                display: inline-block;
                text-align: center;
                line-height: 50px;
            }
        }

        .m-footer-layer-3 {
            text-align: center;
            margin-top: 50px;

            small {
                font-size: 18px;
            }
        }
    }
    // End Footer
}