@font-face {
  font-family: 'fontscorecomttwcenmt';
  src: url("../../font/fontscorecomttwcenmt.eot");
  src: local("fontscorecomttwcenmt"), url("../../font/fontscorecomttwcenmt.woff") format("woff"), url("../../font/fontscorecomttwcenmt.ttf") format("truetype");
}

/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_13141">Text with this font applied</p> */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'fontscorecomttwcenmt' !important;
  overflow-x: hidden;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

body::-webkit-scrollbar-track {
  background: #fff;
  /* color of the tracking area */
}

body::-webkit-scrollbar {
  width: 9px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(177, 177, 177, 0.952);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ani-start-page {
  -webkit-animation: 2s navbar-first linear forwards;
          animation: 2s navbar-first linear forwards;
}

#m-starter-proudly {
  -webkit-animation: 4s m-starter-proudly linear forwards;
          animation: 4s m-starter-proudly linear forwards;
}

#m-starter-discover {
  -webkit-animation: 4s m-starter-discover linear forwards;
          animation: 4s m-starter-discover linear forwards;
}

#m-starter-try {
  -webkit-animation: 4s m-starter-try linear forwards;
          animation: 4s m-starter-try linear forwards;
}

#m-starter-link {
  -webkit-animation: 5s m-starter-link linear forwards;
          animation: 5s m-starter-link linear forwards;
}

@-webkit-keyframes m-starter-link {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes m-starter-link {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes m-starter-proudly {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }
  80% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes m-starter-proudly {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }
  80% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes m-starter-discover {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  80% {
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes m-starter-discover {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  80% {
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes m-starter-try {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes m-starter-try {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes m-starter {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes m-starter {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes navbar-first {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes navbar-first {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.corner-icon {
  display: none;
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #fff;
  position: fixed;
  bottom: 8%;
  right: 3%;
  font-size: 35px;
  z-index: 1000;
  color: #E50014;
  text-align: center;
  line-height: 80px;
  -webkit-box-shadow: 2px 2px 20px rgba(31, 31, 31, 0.514);
          box-shadow: 2px 2px 20px rgba(31, 31, 31, 0.514);
}

.corner-icon:hover::before {
  content: '';
  position: absolute;
  -webkit-transform: scale(1);
          transform: scale(1);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border: 2px solid #E50014;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: 1s signal-corner linear infinite;
          animation: 1s signal-corner linear infinite;
}

@-webkit-keyframes signal-corner {
  0% {
    border-color: #E50014;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    border-color: #e5001300;
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
}

@keyframes signal-corner {
  0% {
    border-color: #E50014;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    border-color: #e5001300;
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
}

.loadSaber {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: #fff;
  z-index: 10000;
}

.loadSaber .loadSabers {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
  height: 210px;
  margin: 200px auto;
  text-align: center;
}

.loadSaber .loadSabers .sabers {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.loadSaber .loadSabers .sabers .saber {
  z-index: -1;
  width: 80px;
  height: 70px;
}

.loadSaber .loadSabers .sabers .saber:nth-child(odd) {
  background-color: #E50014;
  -webkit-animation: 5.5s odd linear infinite;
          animation: 5.5s odd linear infinite;
}

.loadSaber .loadSabers .sabers .saber:nth-child(1) {
  border-top-left-radius: 10px;
}

.loadSaber .loadSabers .sabers .saber:nth-child(3) {
  border-top-right-radius: 10px;
}

.loadSaber .loadSabers .sabers .saber:nth-child(7) {
  border-bottom-left-radius: 10px;
}

.loadSaber .loadSabers .sabers .saber:nth-child(9) {
  border-bottom-right-radius: 10px;
}

.loadSaber .loadSabers .sabers .saber:nth-child(even) {
  background-color: #fff;
  -webkit-animation: 5.5s even linear infinite;
          animation: 5.5s even linear infinite;
}

@-webkit-keyframes even {
  10% {
    background-color: #fff;
  }
  20% {
    background-color: #E50014;
  }
  30% {
    background-color: #fff;
  }
  40% {
    background-color: #E50014;
  }
  50% {
    background-color: #fff;
  }
  60% {
    opacity: 1;
    background-color: #E50014;
  }
  65% {
    opacity: 0;
    background-color: #E50014;
  }
  70% {
    opacity: 1;
  }
  100% {
    background-color: #E50014;
  }
}

@keyframes even {
  10% {
    background-color: #fff;
  }
  20% {
    background-color: #E50014;
  }
  30% {
    background-color: #fff;
  }
  40% {
    background-color: #E50014;
  }
  50% {
    background-color: #fff;
  }
  60% {
    opacity: 1;
    background-color: #E50014;
  }
  65% {
    opacity: 0;
    background-color: #E50014;
  }
  70% {
    opacity: 1;
  }
  100% {
    background-color: #E50014;
  }
}

@-webkit-keyframes odd {
  10% {
    background-color: #E50014;
  }
  20% {
    background-color: #fff;
  }
  30% {
    background-color: #E50014;
  }
  40% {
    background-color: #fff;
  }
  50% {
    background-color: #E50014;
  }
  60% {
    background-color: #fff;
  }
  65% {
    opacity: 1;
    background-color: #E50014;
  }
  70% {
    opacity: 0;
  }
  100% {
    background-color: #E50014;
  }
}

@keyframes odd {
  10% {
    background-color: #E50014;
  }
  20% {
    background-color: #fff;
  }
  30% {
    background-color: #E50014;
  }
  40% {
    background-color: #fff;
  }
  50% {
    background-color: #E50014;
  }
  60% {
    background-color: #fff;
  }
  65% {
    opacity: 1;
    background-color: #E50014;
  }
  70% {
    opacity: 0;
  }
  100% {
    background-color: #E50014;
  }
}

.loadSaber .loadSabers h2 {
  margin: auto;
  letter-spacing: 2px;
  font-size: 40px;
  color: #fff;
  -webkit-animation: 5.5s anitext linear infinite;
          animation: 5.5s anitext linear infinite;
}

@-webkit-keyframes anitext {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anitext {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.m-footer {
  width: 100%;
  background-color: #f8e5e673;
}

.m-footer .m-footers {
  width: calc(80% - 120px);
  margin: auto;
  padding: 60px;
}

.m-footer .m-footer-layer-1 {
  margin: 40px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr 1fr 1fr;
      grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-gap: 5%;
}

.m-footer .m-footer-layer-1 h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #E50014;
}

.m-footer .m-footer-layer-1 a, .m-footer .m-footer-layer-1 p {
  display: block;
  line-height: 40px;
  text-decoration: none;
  color: #636363;
}

.m-footer .m-footer-layer-1 a:hover {
  text-decoration: underline;
}

.m-footer .m-footer-layer-1 .m-footer-sitemap .must-down {
  margin-bottom: 10px;
}

.m-footer .m-footer-layer-1 .m-footer-about p {
  font-weight: bold;
  line-height: 40px;
}

.m-footer .m-footer-layer-2 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15%;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.m-footer .m-footer-layer-2 .imainsta {
  color: #fb3958;
}

.m-footer .m-footer-layer-2 .imalinked {
  color: #2867B2;
}

.m-footer .m-footer-layer-2 a {
  background-color: #fff;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px 20px #bbbbbb;
          box-shadow: 3px 3px 20px #bbbbbb;
  font-size: 25px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.m-footer .m-footer-layer-3 {
  text-align: center;
  margin-top: 50px;
}

.m-footer .m-footer-layer-3 small {
  font-size: 18px;
  color: #949494;
}

@media only screen and (min-width: 1800px) {
  .m-footer {
    max-width: 1800px;
    margin: auto;
  }
  .loadSaber .loadSabers {
    width: 270px;
    height: 240px;
    margin: 200px auto;
    text-align: center;
  }
  .loadSaber .loadSabers .sabers {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .loadSaber .loadSabers .sabers .saber {
    z-index: -1;
    width: 90px;
    height: 80px;
  }
  .loadSaber .loadSabers h2 {
    margin: auto;
    letter-spacing: 2px;
    font-size: 42px;
    color: #fff;
  }
}

@media only screen and (max-width: 1200px) {
  .loadSaber .loadSabers {
    width: 210px;
    height: 180px;
    margin: 200px auto;
    text-align: center;
  }
  .loadSaber .loadSabers .sabers {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .loadSaber .loadSabers .sabers .saber {
    z-index: -1;
    width: 70px;
    height: 60px;
  }
  .loadSaber .loadSabers h2 {
    margin: auto;
    letter-spacing: 2px;
    font-size: 35px;
    color: #fff;
  }
  .m-footer .m-footers {
    width: calc(100% - 120px);
    margin: auto;
    padding: 60px;
  }
  .m-footer .m-footer-layer-1 {
    margin: 40px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 1fr 1fr 1.3fr;
        grid-template-columns: 1.5fr 1fr 1fr 1.3fr;
    grid-gap: 5%;
  }
  .m-footer .m-footer-layer-1 h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .m-footer .m-footer-layer-1 a, .m-footer .m-footer-layer-1 p {
    line-height: 40px;
  }
  .m-footer .m-footer-layer-1 a:hover {
    text-decoration: underline;
  }
  .m-footer .m-footer-layer-1 .m-footer-sitemap .must-down {
    margin-bottom: 10px;
  }
  .m-footer .m-footer-layer-1 .m-footer-about p {
    line-height: 40px;
  }
  .m-footer .m-footer-layer-2 {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 15%;
    margin: auto;
  }
  .m-footer .m-footer-layer-2 a {
    margin: auto;
    width: 50px;
    height: 50px;
    font-size: 25px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
  }
  .m-footer .m-footer-layer-3 {
    text-align: center;
    margin-top: 50px;
  }
  .m-footer .m-footer-layer-3 small {
    font-size: 18px;
  }
}

@media only screen and (max-width: 900px) {
  .corner-icon {
    display: none;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    position: fixed;
    bottom: 8%;
    right: 3%;
    font-size: 32px;
    z-index: 1000;
    color: #E50014;
    text-align: center;
    line-height: 65px;
    -webkit-box-shadow: 2px 2px 20px rgba(31, 31, 31, 0.514);
            box-shadow: 2px 2px 20px rgba(31, 31, 31, 0.514);
  }
  .corner-icon::before {
    content: '';
    position: absolute;
    -webkit-transform: scale(1);
            transform: scale(1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border: 2px solid #E50014;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-animation: 1s signal-corner linear infinite;
            animation: 1s signal-corner linear infinite;
  }
  .loadSaber .loadSabers {
    width: 180px;
    height: 150px;
    margin: 200px auto;
    text-align: center;
  }
  .loadSaber .loadSabers .sabers {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .loadSaber .loadSabers .sabers .saber {
    z-index: -1;
    width: 60px;
    height: 50px;
  }
  .loadSaber .loadSabers h2 {
    margin: auto;
    letter-spacing: 2px;
    font-size: 28px;
    color: #fff;
  }
  .m-footer .m-footers {
    width: calc(100% - 120px);
    margin: auto;
    padding: 60px;
  }
  .m-footer .m-footer-layer-1 {
    margin: 80px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 1.5fr;
        grid-template-columns: 1.5fr 1.5fr;
    grid-gap: 5%;
  }
  .m-footer .m-footer-layer-1 h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .m-footer .m-footer-layer-1 a, .m-footer .m-footer-layer-1 p {
    line-height: 40px;
  }
  .m-footer .m-footer-layer-1 a:hover {
    text-decoration: none;
  }
  .m-footer .m-footer-layer-1 .m-footer-sitemap .must-down {
    margin-bottom: 10px;
  }
  .m-footer .m-footer-layer-1 .m-footer-about p {
    line-height: 40px;
  }
  .m-footer .m-footer-layer-2 {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 30%;
    margin: auto;
  }
  .m-footer .m-footer-layer-2 a {
    margin: auto;
    width: 50px;
    height: 50px;
    font-size: 25px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
  }
  .m-footer .m-footer-layer-3 {
    text-align: center;
    margin-top: 50px;
  }
  .m-footer .m-footer-layer-3 small {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .loadSaber .loadSabers {
    width: 150px;
    height: 120px;
    margin: 200px auto;
    text-align: center;
  }
  .loadSaber .loadSabers .sabers {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .loadSaber .loadSabers .sabers .saber {
    z-index: -1;
    width: 50px;
    height: 40px;
  }
  .loadSaber .loadSabers h2 {
    margin: auto;
    letter-spacing: 2px;
    font-size: 24px;
    color: #fff;
  }
  .m-footer .m-footer-comp {
    margin-bottom: 30px;
  }
  .m-footer .m-footer-layer-1 {
    margin: 0 0 80px 0;
    display: block;
    -ms-grid-columns: 1.5fr;
        grid-template-columns: 1.5fr;
    grid-gap: 5%;
  }
  .m-footer .m-footer-layer-1 h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .m-footer .m-footer-layer-1 a, .m-footer .m-footer-layer-1 p {
    line-height: 40px;
  }
  .m-footer .m-footer-layer-1 .m-footer-sitemap .must-down {
    margin-bottom: 10px;
  }
  .m-footer .m-footer-layer-1 .m-footer-about p {
    line-height: 40px;
  }
  .m-footer .m-footer-layer-2 {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 60%;
    margin: auto;
  }
  .m-footer .m-footer-layer-2 a {
    margin: auto;
    width: 50px;
    height: 50px;
    font-size: 25px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
  }
  .m-footer .m-footer-layer-3 {
    text-align: center;
    margin-top: 50px;
  }
  .m-footer .m-footer-layer-3 small {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */