.m-container {
  padding-top: 80px;
}

.m-starter {
  position: relative;
  height: 60vh;
}

.m-starter::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: url("../../img/first.jpg");
  background-size: cover;
  background-position: center center;
  -webkit-filter: brightness(35%);
          filter: brightness(35%);
}

.m-starter .m-starter-body {
  width: 80%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 25%);
          transform: translate(-50%, 25%);
  text-align: center;
  color: #fff;
}

.m-starter .m-starter-body h3 {
  margin-bottom: 20px;
  -webkit-animation: 3s haha3 linear forwards;
          animation: 3s haha3 linear forwards;
}

.m-starter .m-starter-body h1 {
  margin-bottom: 40px;
}

.m-starter .m-starter-body h2 {
  margin-bottom: 30px;
}

.m-starter .m-starter-body a {
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  display: block;
  width: 25%;
  border-radius: 20px;
  border: 2px solid #fff;
  margin: auto;
}

.m-starter .m-starter-body a:hover {
  border: 2px solid #E50014;
  background-color: #E50014;
  color: #fff;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.m-program-category {
  width: 80%;
  margin: auto;
  padding: 100px 0;
}

.m-program-category h2 {
  color: #E50014;
}

.m-program-category .m-program-category-spawn {
  position: relative;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}

.m-program-category .m-program-category-spawn .choosen {
  position: relative;
}

.m-program-category .m-program-category-spawn .choosen::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #E50014;
  border-radius: 50%;
  z-index: -100;
  -webkit-animation: .3s choosen linear forwards;
          animation: .3s choosen linear forwards;
}

@-webkit-keyframes choosen {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes choosen {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.m-program-category .m-program-category-spawn a {
  position: relative;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  background-color: #faefef;
}

.m-program-category .m-program-category-spawn a i {
  line-height: 60px;
  font-size: 20px;
  color: #E50014;
}

.m-program-category .m-program-category-spawn a:hover span {
  visibility: visible;
}

.m-program-category .m-program-category-spawn a:not(:hover) span {
  visibility: hidden;
}

.m-program-category .m-program-category-spawn a span {
  visibility: hidden;
  -webkit-transform: translate(0, 60px);
          transform: translate(0, 60px);
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  display: block;
  text-align: center;
  color: #fff;
  z-index: 100;
}

.m-program-category .m-program-category-spawn a span p {
  position: relative;
  font-size: 17px;
  padding: 10px 0;
}

.m-program-category .m-program-category-spawn a span p::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background-color: black;
  z-index: -1;
  opacity: .6;
}

.m-program-category .m-program-category-content {
  margin-top: 80px;
  display: -ms-grid;
  display: grid;
  grid-gap: 5%;
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
  -webkit-animation: .5s m-program-category linear forwards;
          animation: .5s m-program-category linear forwards;
}

.m-program-category .m-program-category-content .m-program-category-text h1 {
  color: #E50014;
  margin-bottom: 30px;
}

.m-program-category .m-program-category-content .m-program-category-text p {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.m-program-category .m-program-category-content .m-program-category-text a {
  overflow: hidden;
  position: relative;
  margin: 40px 0;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
  width: 50%;
  border-radius: 30px;
  background-color: #faefef;
  text-decoration: none;
  display: block;
  text-align: center;
  color: #E50014;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.m-program-category .m-program-category-content .m-program-category-text a:hover {
  color: #fff;
  background-color: #E50014;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.m-program-category .m-program-category-content .m-program-category-text a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #E50014;
  width: 10px;
}

.m-program-category .m-program-category-content .m-program-category-text a::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #E50014;
  width: 10px;
}

.m-program-category .m-program-category-content .m-program-category-image {
  position: relative;
}

.m-program-category .m-program-category-content .m-program-category-image h2 {
  display: block;
  padding: 20px 20px;
  text-align: center;
  width: 50%;
  border-radius: 20px;
  position: absolute;
  right: 0;
  background-color: #fff;
  -webkit-transform: translate(25%, -50%);
          transform: translate(25%, -50%);
  font-size: 22px;
  -webkit-box-shadow: 4px 4px 20px rgba(163, 163, 163, 0.233);
          box-shadow: 4px 4px 20px rgba(163, 163, 163, 0.233);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  grid-gap: 5%;
}

.m-program-category .m-program-category-content .m-program-category-image h2 i {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-animation: 3s interactiveicon linear infinite;
          animation: 3s interactiveicon linear infinite;
}

.m-program-category .m-program-category-content .m-program-category-image h2 span {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-animation: 12s interactivetext linear infinite;
          animation: 12s interactivetext linear infinite;
}

@-webkit-keyframes interactivetext {
  0% {
    opacity: 0;
    -webkit-transform: translate(10%, 0);
            transform: translate(10%, 0);
  }
  5% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  85% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  90% {
    opacity: 0;
    -webkit-transform: translate(10%, 0);
            transform: translate(10%, 0);
  }
  100% {
    opacity: 0;
  }
}

@keyframes interactivetext {
  0% {
    opacity: 0;
    -webkit-transform: translate(10%, 0);
            transform: translate(10%, 0);
  }
  5% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  85% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  90% {
    opacity: 0;
    -webkit-transform: translate(10%, 0);
            transform: translate(10%, 0);
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes interactiveicon {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes interactiveicon {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.m-program-category .m-program-category-content .m-program-category-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  height: 50vh;
}

@-webkit-keyframes m-program-category {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes m-program-category {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.m-program-category .m-program-category-2, .m-program-category .m-program-category-3, .m-program-category .m-program-category-4 {
  display: none;
}

.m-reviews {
  width: 100%;
  position: relative;
}

.m-reviews::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url("../../img/sidereview.jpg");
  background-size: cover;
  background-position: center center;
  -webkit-filter: brightness(25%);
          filter: brightness(25%);
}

.m-review {
  width: 80%;
  margin: auto;
  padding: 100px 0;
}

.m-review h2 {
  font-size: 40px;
  text-align: center;
  color: #f8f8f8;
}

.m-review h2 span {
  color: #E50014;
}

.m-review h3 {
  margin: 20px auto;
  width: 55%;
  text-align: center;
  color: #f8f8f8;
}

.m-review .m-review-content-view {
  position: relative;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.m-review .m-review-content-view::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(192, 192, 192, 0.171);
  -webkit-filter: blur(3px);
          filter: blur(3px);
  opacity: .5;
  z-index: -1;
}

.m-review .m-review-content-view h1 {
  margin: 20px 0 10px 0;
  font-size: 25px;
  color: #f8f8f8;
}

.m-review .m-review-content-view h2 {
  font-size: 16px;
  display: block;
  text-align: left;
  text-transform: uppercase;
  color: #E50014;
}

.m-review .m-review-content-view img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.m-review .m-review-content-view .m-review-content-star {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  font-weight: bold;
}

.m-review .m-review-content-view .m-review-content-star i {
  display: inline-block;
  color: #dada0d;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.m-review .m-review-content-view .m-review-content-star p {
  color: #f8f8f8;
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.m-review .m-review-content-view .quotes-view {
  margin-top: 30px;
}

.m-review .m-review-content-view .quotes-view .quotes {
  display: block;
  text-align: center;
  font-size: 25px;
  margin: 20px 0;
  color: #E50014;
}

.m-review .m-review-content-view .quotes-view p {
  color: #f8f8f8;
}

.m-review .rcv-1 p {
  -ms-grid-column-align: start;
      justify-self: start;
}

.m-review .rcv-2 {
  text-align: right;
}

.m-review .rcv-2 h1, .m-review .rcv-2 h2 {
  text-align: right;
}

.m-review .rcv-2 p {
  -ms-grid-column-align: end;
      justify-self: end;
  text-align: right;
}

.m-review .m-review-content {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.25fr 1fr;
      grid-template-columns: 1fr 1.25fr 1fr;
  grid-gap: 2.5%;
}

.m-review .m-review-content .m-review-content-mid img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.m-interested {
  width: 80%;
  margin: auto;
  padding: 100px 0;
}

.m-interested .m-interested-content {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
}

.m-interested .m-interested-content .m-interested-content-sticky div {
  position: -webkit-sticky;
  position: sticky;
  top: 150px;
}

.m-interested .m-interested-content .m-interested-content-sticky div h2 {
  color: #E50014;
  margin-bottom: 10px;
}

.m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1.5fr;
      grid-template-columns: 1.5fr 1.5fr;
  grid-gap: 20%;
  height: 75vh;
}

.m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists .img-container {
  position: relative;
}

.m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists .img-container .icon {
  position: absolute;
  width: 60px;
  height: 60px;
  -webkit-box-shadow: 3px 3px 20px #bbbbbb;
          box-shadow: 3px 3px 20px #bbbbbb;
  border-radius: 50%;
  text-align: center;
  background-color: #fff;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists .img-container .icon i {
  line-height: 60px;
  font-size: 25px;
  color: #E50014;
}

.m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists img {
  width: 100%;
}

.m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists h1 {
  margin-bottom: 20px;
  color: #E50014;
}

.m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists p {
  font-weight: bold;
  font-size: 20px;
}

.m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists a {
  margin: 40px 0;
  padding: 10px 0;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  font-size: 18px;
  border-radius: 20px;
  text-align: center;
  background-color: #faefef;
  display: block;
  font-weight: bold;
  color: #E50014;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists a:hover {
  color: #fff;
  background-color: #E50014;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists a::before {
  position: absolute;
  top: 0;
  bottom: 0;
  content: '';
  width: 15px;
  background-color: #E50014;
}

.m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists a::after {
  position: absolute;
  top: calc(50% - 3px);
  height: 5px;
  width: 25px;
  background-color: #E50014;
  content: '';
}

.m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists .right::before {
  right: 0;
}

.m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists .right::after {
  right: 0;
}

.m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists .left::before {
  left: 0;
}

.m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists .left::after {
  left: 0;
}

.m-social-media {
  position: relative;
}

.m-social-media::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../../img/link.jpg");
  -webkit-filter: brightness(25%);
          filter: brightness(25%);
  z-index: -1;
  background-size: cover;
  background-position: center center;
}

.m-social-media .m-social-media-link {
  width: 50%;
  margin: auto;
  padding: 100px 0;
  text-align: center;
  color: #fff;
}

.m-social-media .m-social-media-link h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.m-social-media .m-social-media-link h1 span {
  color: #E50014;
}

.m-social-media .m-social-media-link p {
  font-size: 30px;
}

.m-social-media .m-social-media-link .m-social-media-links {
  margin: 40px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.m-social-media .m-social-media-link .m-social-media-links a {
  width: 45%;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: #fff;
  background-color: #E50014;
  border-radius: 30px;
  padding: 20px 0;
  font-size: 20px;
}

.m-social-media .m-social-media-link .m-social-media-links a:nth-child(1):hover {
  color: #E50014;
  background-color: #fff;
  -webkit-animation: .2s social-media linear forwards;
          animation: .2s social-media linear forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.m-social-media .m-social-media-link .m-social-media-links a:nth-child(2):hover {
  color: #E50014;
  background-color: #fff;
  -webkit-animation: .2s social-medias linear forwards;
          animation: .2s social-medias linear forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes social-media {
  0% {
    opacity: .5;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes social-media {
  0% {
    opacity: .5;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes social-medias {
  0% {
    opacity: .5;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes social-medias {
  0% {
    opacity: .5;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media only screen and (min-width: 1800px) {
  .m-starter {
    max-width: 1800px;
    margin: auto;
  }
  .m-program-category {
    max-width: 1800px;
    margin: auto;
  }
  .m-review {
    max-width: 1800px;
    margin: auto;
  }
  .m-interested {
    max-width: 1800px;
    margin: auto;
  }
  .m-social-media {
    max-width: 1800px;
    margin: auto;
  }
}

@media only screen and (max-width: 1200px) {
  .m-starter {
    height: 60vh;
  }
  .m-starter .m-starter-body {
    -webkit-transform: translate(-50%, 15%);
            transform: translate(-50%, 15%);
  }
  .m-starter .m-starter-body h3 {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .m-starter .m-starter-body h1 {
    margin-bottom: 30px;
    font-size: 25px;
  }
  .m-starter .m-starter-body h2 {
    margin-bottom: 30px;
    font-size: 22px;
  }
  .m-starter .m-starter-body a {
    padding: 6px;
    font-size: 20px;
  }
  .m-program-category {
    width: 80%;
    margin: auto;
    padding: 100px 0;
  }
  .m-program-category h2 {
    color: #E50014;
  }
  .m-program-category .m-program-category-spawn {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40%;
  }
  .m-program-category .m-program-category-spawn .choosen {
    position: relative;
  }
  .m-program-category .m-program-category-spawn .choosen::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #E50014;
    border-radius: 50%;
    z-index: -1;
    -webkit-animation: .3s choosen linear forwards;
            animation: .3s choosen linear forwards;
  }
  .m-program-category .m-program-category-spawn a {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: #faefef;
  }
  .m-program-category .m-program-category-spawn a i {
    line-height: 50px;
    font-size: 16px;
    color: #E50014;
  }
  .m-program-category .m-program-category-spawn a span {
    visibility: hidden;
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 180px;
    display: block;
    text-align: center;
    color: #fff;
    z-index: 100;
  }
  .m-program-category .m-program-category-spawn a span p {
    position: relative;
    font-size: 14px;
    padding: 8px 0;
  }
  .m-program-category .m-program-category-spawn a span p::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    background-color: black;
    z-index: -1;
    opacity: .6;
  }
  .m-program-category .m-program-category-content {
    margin-top: 80px;
    display: -ms-grid;
    display: grid;
    grid-gap: 5%;
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
    -webkit-animation: .5s m-program-category linear forwards;
            animation: .5s m-program-category linear forwards;
  }
  .m-program-category .m-program-category-content .m-program-category-text h1 {
    color: #E50014;
    margin-bottom: 30px;
    font-size: 25px;
  }
  .m-program-category .m-program-category-content .m-program-category-text p {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
  }
  .m-program-category .m-program-category-content .m-program-category-text a {
    margin: 40px 0;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    width: 75%;
  }
  .m-program-category .m-program-category-content .m-program-category-image h2 {
    display: block;
    padding: 20px 20px;
    width: 50%;
    font-size: 18px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5fr;
        grid-template-columns: 1fr 5fr;
    grid-gap: 5%;
  }
  .m-program-category .m-program-category-content .m-program-category-image h2 i {
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .m-program-category .m-program-category-content .m-program-category-image h2 span {
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .m-program-category .m-program-category-2, .m-program-category .m-program-category-3, .m-program-category .m-program-category-4 {
    display: none;
  }
  .m-review {
    width: 80%;
    margin: auto;
    padding: 100px 0;
  }
  .m-review h2 {
    font-size: 35px;
  }
  .m-review h3 {
    margin: 30px auto;
    width: 60%;
  }
  .m-review .m-review-content-view {
    padding: 20px;
  }
  .m-review .m-review-content-view h1 {
    margin: 20px 0 10px 0;
    font-size: 20px;
  }
  .m-review .m-review-content-view h2 {
    font-size: 14px;
  }
  .m-review .m-review-content-view img {
    width: 70px;
    height: 70px;
  }
  .m-review .m-review-content-view .m-review-content-star {
    margin-top: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    font-size: 15px;
  }
  .m-review .m-review-content-view .m-review-content-star i {
    display: inline-block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .m-review .m-review-content-view .m-review-content-star p {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .m-review .m-review-content-view .quotes-view {
    margin-top: 30px;
  }
  .m-review .m-review-content-view .quotes-view .quotes {
    display: block;
    font-size: 20px;
    margin: 20px 0;
  }
  .m-review .rcv-1 p {
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .m-review .rcv-2 {
    text-align: right;
  }
  .m-review .rcv-2 h1, .m-review .rcv-2 h2 {
    text-align: right;
  }
  .m-review .rcv-2 p {
    -ms-grid-column-align: end;
        justify-self: end;
    text-align: right;
  }
  .m-review .m-review-content {
    margin-top: 40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr .75fr 1fr;
        grid-template-columns: 1fr .75fr 1fr;
  }
  .m-interested {
    width: 80%;
    margin: auto;
    padding: 100px 0;
  }
  .m-interested .m-interested-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
  }
  .m-interested .m-interested-content .m-interested-content-sticky div {
    position: -webkit-sticky;
    position: sticky;
    top: 150px;
  }
  .m-interested .m-interested-content .m-interested-content-sticky div h2 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .m-interested .m-interested-content .m-interested-content-sticky div h1 {
    font-size: 27px;
  }
  .m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 2fr;
        grid-template-columns: 1.5fr 2fr;
    grid-gap: 14%;
    height: 75vh;
  }
  .m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists .img-container .icon {
    width: 50px;
    height: 50px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists .img-container .icon i {
    line-height: 50px;
    font-size: 20px;
  }
  .m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists p {
    font-size: 18px;
  }
  .m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists a {
    margin: 40px 0;
    padding: 8px 0;
    font-size: 16px;
  }
  .m-social-media {
    position: relative;
  }
  .m-social-media .m-social-media-link {
    width: 50%;
    margin: auto;
    padding: 100px 0;
  }
  .m-social-media .m-social-media-link h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .m-social-media .m-social-media-link p {
    font-size: 24px;
  }
  .m-social-media .m-social-media-link .m-social-media-links {
    margin: 40px 0 20px 0;
  }
  .m-social-media .m-social-media-link .m-social-media-links a {
    width: 45%;
    padding: 17px 0;
    font-size: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .m-container {
    padding-top: 60px;
  }
  .m-starter {
    height: 60vh;
  }
  .m-starter .m-starter-body {
    -webkit-transform: translate(-50%, 15%);
            transform: translate(-50%, 15%);
  }
  .m-starter .m-starter-body h3 {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .m-starter .m-starter-body h1 {
    margin-bottom: 30px;
    font-size: 21px;
  }
  .m-starter .m-starter-body h2 {
    margin-bottom: 30px;
    font-size: 18px;
  }
  .m-starter .m-starter-body a {
    padding: 6px;
    font-size: 16px;
  }
  .m-starter .m-starter-body a:hover {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    -webkit-transition: 0s ease;
    transition: 0s ease;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .m-program-category {
    width: 80%;
    margin: auto;
    padding: 100px 0;
  }
  .m-program-category h2 {
    color: #E50014;
  }
  .m-program-category .m-program-category-spawn {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40%;
  }
  .m-program-category .m-program-category-spawn .choosen {
    position: relative;
  }
  .m-program-category .m-program-category-spawn .choosen::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #E50014;
    border-radius: 50%;
    z-index: -1;
    -webkit-animation: .3s choosen linear forwards;
            animation: .3s choosen linear forwards;
  }
  .m-program-category .m-program-category-spawn a {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 50%;
    background-color: #faefef;
  }
  .m-program-category .m-program-category-spawn a i {
    line-height: 50px;
    font-size: 16px;
    color: #E50014;
  }
  .m-program-category .m-program-category-spawn a:hover span {
    visibility: hidden;
  }
  .m-program-category .m-program-category-spawn a:not(:hover) span {
    visibility: hidden;
  }
  .m-program-category .m-program-category-content {
    margin-top: 80px;
    display: block;
    -webkit-animation: .5s m-program-category linear forwards;
            animation: .5s m-program-category linear forwards;
  }
  .m-program-category .m-program-category-content .m-program-category-text {
    margin-bottom: 75px;
  }
  .m-program-category .m-program-category-content .m-program-category-text h1 {
    color: #E50014;
    margin-bottom: 30px;
    font-size: 25px;
  }
  .m-program-category .m-program-category-content .m-program-category-text p {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
  }
  .m-program-category .m-program-category-content .m-program-category-text a {
    margin: 40px 0;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    width: 75%;
  }
  .m-program-category .m-program-category-content .m-program-category-text a:hover {
    color: #E50014;
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #faefef;
    -webkit-transition: 0s ease;
    transition: 0s ease;
  }
  .m-program-category .m-program-category-content .m-program-category-image h2 {
    display: block;
    padding: 20px 20px;
    width: 50%;
    font-size: 18px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5fr;
        grid-template-columns: 1fr 5fr;
    grid-gap: 5%;
  }
  .m-program-category .m-program-category-content .m-program-category-image h2 i {
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .m-program-category .m-program-category-content .m-program-category-image h2 span {
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .m-program-category .m-program-category-2, .m-program-category .m-program-category-3, .m-program-category .m-program-category-4 {
    display: none;
  }
  .m-review {
    width: 80%;
    margin: auto;
    padding: 100px 0;
  }
  .m-review h2 {
    font-size: 30px;
  }
  .m-review h3 {
    margin: 30px auto;
    width: 80%;
  }
  .m-review .m-review-content-view {
    padding: 20px;
    margin: 30px 0;
  }
  .m-review .m-review-content-view h1 {
    margin: 20px 0 10px 0;
    font-size: 20px;
  }
  .m-review .m-review-content-view h2 {
    font-size: 14px;
  }
  .m-review .m-review-content-view img {
    width: 70px;
    height: 70px;
  }
  .m-review .m-review-content-view .m-review-content-star {
    margin-top: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    font-size: 15px;
  }
  .m-review .m-review-content-view .m-review-content-star i {
    display: inline-block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .m-review .m-review-content-view .m-review-content-star p {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .m-review .m-review-content-view .m-review-content-star-rev div {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .m-review .m-review-content-view .m-review-content-star-rev p {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .m-review .m-review-content-view .quotes-view {
    margin-top: 30px;
  }
  .m-review .m-review-content-view .quotes-view .quotes {
    display: block;
    font-size: 20px;
    margin: 20px 0;
  }
  .m-review .rcv-1 p {
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .m-review .rcv-2 {
    text-align: left;
  }
  .m-review .rcv-2 h1, .m-review .rcv-2 h2 {
    text-align: left;
  }
  .m-review .rcv-2 p {
    -ms-grid-column-align: start;
        justify-self: start;
    text-align: left;
  }
  .m-review .m-review-content {
    margin-top: 40px;
    display: block;
  }
  .m-interested {
    width: 80%;
    margin: auto;
    padding: 100px 0;
  }
  .m-interested .m-interested-content {
    display: block;
  }
  .m-interested .m-interested-content .m-interested-content-sticky {
    margin-bottom: 50px;
  }
  .m-interested .m-interested-content .m-interested-content-sticky div {
    text-align: center;
    position: static;
  }
  .m-interested .m-interested-content .m-interested-content-sticky div h2 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .m-interested .m-interested-content .m-interested-content-sticky div h1 {
    font-size: 27px;
  }
  .m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 2fr;
        grid-template-columns: 1.5fr 2fr;
    grid-gap: 14%;
    height: 50vh;
    margin-top: 50px;
  }
  .m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists .img-container .icon {
    width: 50px;
    height: 50px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists .img-container .icon i {
    line-height: 50px;
    font-size: 20px;
  }
  .m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists h1 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists p {
    font-size: 16px;
  }
  .m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists a {
    margin: 40px 0;
    padding: 8px 0;
    font-size: 16px;
  }
  .m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists a:hover {
    color: #E50014;
    background-color: #faefef;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0s linear;
    transition: 0s linear;
  }
  .m-social-media {
    position: relative;
  }
  .m-social-media .m-social-media-link {
    width: 70%;
    margin: auto;
    padding: 100px 0;
  }
  .m-social-media .m-social-media-link h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .m-social-media .m-social-media-link p {
    font-size: 20px;
  }
  .m-social-media .m-social-media-link .m-social-media-links {
    margin: 40px 0 20px 0;
  }
  .m-social-media .m-social-media-link .m-social-media-links a {
    width: 45%;
    padding: 14px 0;
    font-size: 17px;
  }
  .m-social-media .m-social-media-link .m-social-media-links a:nth-child(1):hover {
    color: #fff;
    background-color: #E50014;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
    -webkit-animation: .0s !important;
            animation: .0s !important;
  }
  .m-social-media .m-social-media-link .m-social-media-links a:nth-child(2):hover {
    color: #fff;
    background-color: #E50014;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
    -webkit-animation: .0s !important;
            animation: .0s !important;
  }
}

@media only screen and (max-width: 600px) {
  .m-starter {
    height: 60vh;
  }
  .m-starter .m-starter-body {
    -webkit-transform: translate(-50%, 15%);
            transform: translate(-50%, 15%);
  }
  .m-starter .m-starter-body h3 {
    margin-bottom: 20px;
    font-size: 12px;
  }
  .m-starter .m-starter-body h1 {
    margin-bottom: 30px;
    font-size: 19px;
  }
  .m-starter .m-starter-body h2 {
    margin-bottom: 30px;
    font-size: 16px;
  }
  .m-starter .m-starter-body a {
    padding: 6px;
    font-size: 14px;
    display: block;
    width: 40%;
  }
  .m-program-category {
    width: 80%;
    margin: auto;
    padding: 100px 0;
  }
  .m-program-category h2 {
    display: block;
    text-align: center;
    color: #E50014;
  }
  .m-program-category .m-program-category-spawn {
    margin: 40px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
  }
  .m-program-category .m-program-category-spawn .choosen {
    position: relative;
  }
  .m-program-category .m-program-category-spawn .choosen::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #E50014;
    border-radius: 50%;
    z-index: -1;
    -webkit-animation: .3s choosen linear forwards;
            animation: .3s choosen linear forwards;
  }
  .m-program-category .m-program-category-spawn a {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: #faefef;
    margin-right: 10px;
  }
  .m-program-category .m-program-category-spawn a i {
    line-height: 50px;
    font-size: 16px;
    color: #E50014;
  }
  .m-program-category .m-program-category-content {
    margin-top: 40px;
    display: block;
    -webkit-animation: .5s m-program-category linear forwards;
            animation: .5s m-program-category linear forwards;
  }
  .m-program-category .m-program-category-content .m-program-category-text {
    margin-bottom: 75px;
  }
  .m-program-category .m-program-category-content .m-program-category-text h1 {
    color: #E50014;
    margin-bottom: 30px;
    font-size: 25px;
  }
  .m-program-category .m-program-category-content .m-program-category-text p {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
  }
  .m-program-category .m-program-category-content .m-program-category-text a {
    margin: 40px 0;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    width: 75%;
  }
  .m-program-category .m-program-category-content .m-program-category-image h2 {
    display: block;
    padding: 20px 20px;
    width: 50%;
    font-size: 14px;
    -webkit-transform: translate(10%, -50%);
            transform: translate(10%, -50%);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5fr;
        grid-template-columns: 1fr 5fr;
    grid-gap: 5%;
  }
  .m-program-category .m-program-category-content .m-program-category-image h2 i {
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .m-program-category .m-program-category-content .m-program-category-image h2 span {
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .m-program-category .m-program-category-2, .m-program-category .m-program-category-3, .m-program-category .m-program-category-4 {
    display: none;
  }
  .m-interested {
    width: 80%;
    margin: auto;
    padding: 100px 0;
  }
  .m-interested .m-interested-content {
    display: block;
  }
  .m-interested .m-interested-content .m-interested-content-sticky {
    margin-bottom: 50px;
  }
  .m-interested .m-interested-content .m-interested-content-sticky div {
    text-align: center;
    position: static;
  }
  .m-interested .m-interested-content .m-interested-content-sticky div h2 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .m-interested .m-interested-content .m-interested-content-sticky div h1 {
    font-size: 27px;
  }
  .m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists .interest-order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists .interest-order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists .img-container {
    margin-top: 20px;
  }
  .m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists .img-container .icon {
    width: 50px;
    height: 50px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists .img-container .icon i {
    line-height: 50px;
    font-size: 20px;
  }
  .m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists h1 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists p {
    font-size: 16px;
  }
  .m-interested .m-interested-content .m-interested-content-list .m-interested-content-lists a {
    margin: 40px 0;
    padding: 8px 0;
    font-size: 16px;
  }
  .m-social-media {
    position: relative;
  }
  .m-social-media .m-social-media-link {
    width: 80%;
    margin: auto;
    padding: 100px 0;
  }
  .m-social-media .m-social-media-link h1 {
    font-size: 39px;
    margin-bottom: 20px;
  }
  .m-social-media .m-social-media-link p {
    font-size: 16px;
  }
  .m-social-media .m-social-media-link .m-social-media-links {
    margin: 40px 0 20px 0;
  }
  .m-social-media .m-social-media-link .m-social-media-links a {
    width: 45%;
    padding: 12px 0;
    font-size: 15px;
  }
}
/*# sourceMappingURL=style.css.map */